<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Home</title>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
		<link rel="stylesheet" href="./css/main.css">
		<link rel="stylesheet" href="./css/bootstrap.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="scripts/logout.js"></script>
		<script src="scripts/operations.js"></script>
	    	<link type="text/css" rel="stylesheet" href="./css/layout-default-latest.css">
		<link rel="stylesheet" href="./css/split-pane.css" />
		<link rel="stylesheet" href="./css/pretty-split-pane.css" />
		<script src="./scripts/jquery-1.8.2.js"></script>
		<script src="./scripts/split-pane.js"></script>
		<style type="text/css">
			html, body {
				height: 93%;
				min-height: 93%;
				margin: 0;
				padding: 0;
			}
			#top-component {
				bottom: 70%;
				margin-bottom: 5px;
				min-height: 5em;
			}
			#my-divider {
				bottom: 70%;
				height: 5px;
			}
			#bottom-component {
				height: 70%;
				min-height: 5em;
			}
		</style>
		<script>
			$(function() {
				$('div.split-pane').splitPane();
			});
		</script>
	</head>
	<body>
		<div id="header">
        		<div id="headercenter">
				<div id="logo">
					<a href="home.html">
						<img src="images/MongoWeb.png" width="80px" height="60px" alt="Home" /><br/>
						<h1>MongoWeb</h1>
					</a>
				</div>
				<div id="logout-button"> 
			    		<a id="logout_link" href="#"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
				</div>
		        </div>
	    	</div>
		<div class="split-pane-frame">
			<div class="split-pane horizontal-percent">
				<div class="split-pane-component" id="top-component">
					<div class="decoration">
						<br>
						<div id="table">
							<table style="width: 100%">
								<tr>
									<td><textarea id="input_query_box" autocomplete="off" onfocus="if(this.value=='Enter your query here...'){this.value='';}" onblur="if(this.value==''){this.value='Enter your query here...';}" value="Enter your query here..." style="width: 1000px; height: 140px">Enter your query here...</textarea></td>
									<td><button type="button" id="run_button">Run</button></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="split-pane-divider" id="my-divider"></div>
				<div class="split-pane-component" id="bottom-component">
					<div class="decoration">
						<textarea id="query_result" style="width: 100%; height: 100%; resize: none" readonly></textarea>
	
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
