<!doctype html>
<html lang="en-US">
<head>

	<meta charset="utf-8">

	<title>Home</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="./css/bootstrap.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="scripts/logout.js"></script>

    	<link type="text/css" rel="stylesheet" href="./css/layout-default-latest.css">

    <script type="text/javascript" src="./scripts/jquery-latest.js"></script>
    <style type="text/css"></style>
    <style type="text/css"></style>
    <style type="text/css"></style>
    <script type="text/javascript" src="./scripts/jquery-ui-latest.js"></script>
    <script type="text/javascript" src="./scripts/jquery.layout-latest.js"></script>

    <script type="text/javascript" src="./scripts/debug.js"></script>

    <script type="text/javascript">
    function toggleLiveResizing() {
        $.each($.layout.config.borderPanes, function(i, pane) {
            var o = myLayout.options[pane];
            o.livePaneResizing = !o.livePaneResizing;
        });
    };

    function toggleStateManagement(skipAlert, mode) {
        if (!$.layout.plugins.stateManagement) return;

        var options = myLayout.options.stateManagement,
            enabled = options.enabled // current setting
            ;
        if ($.type(mode) === "boolean") {
            if (enabled === mode) return; // already correct
            enabled = options.enabled = mode
        } else
            enabled = options.enabled = !enabled; // toggle option

        if (!enabled) { // if disabling state management...
            myLayout.deleteCookie(); // ...clear cookie so will NOT be found on next refresh
            if (!skipAlert)
                alert('This layout will reload as the options specify \nwhen the page is refreshed.');
        } else if (!skipAlert)
            alert('This layout will save & restore its last state \nwhen the page is refreshed.');

        // update text on button
        var $Btn = $('#btnToggleState'),
            text = $Btn.html();
        if (enabled)
            $Btn.html(text.replace(/Enable/i, "Disable"));
        else
            $Btn.html(text.replace(/Disable/i, "Enable"));
    };

    // set EVERY 'state' here so will undo ALL layout changes
    // used by the 'Reset State' button: myLayout.loadState( stateResetSettings )
    var stateResetSettings = {
        north__size: "auto",
        north__initClosed: false,

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<[endif]-->
	</script>
</head>

<body class="ui-layout-container" style="zoom: 1; overflow: hidden; width: auto; height: auto; margin: 0px; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;">
	<div id="header">
        	<div id="headercenter">
		<!--	<div id="logo">
		                <img src="images/MongoWeb.png" width="80px" height="55px" alt="MongoWeb" /><br/>
                		<h1>MongoWeb</h1>
			</div>
		-->
			<div id="logo">
				<a href="home.html">
					<img src="images/MongoWeb.png" width="80px" height="60px" alt="Home" /><br/>
					<h1>MongoWeb</h1>
				</a>
			</div>
			<div id="logout-button"> 
			    	<a id="logout_link" href="#"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
			</div>
	        </div>
    	</div>
	<br/>
	<div id="wrapper"  class="ui-layout-container" style="zoom: 1; overflow: hidden; width: auto; height: auto; margin: 0px;">
		<div id="table" class="ui-layout-north ui-layout-pane ui-layout-pane-north" onmouseover="myLayout.allowOverflow(&#39;north&#39;)" onmouseout="myLayout.resetOverflow(this)" style=" margin: 0px;  bottom: auto; width: auto; z-index: 0; height: 65px; display: block; visibility: visible; overflow: auto;">
			<table style="width:100%">
				<tr>
					<td><textarea id="query_string" style="width: 100%; height: 40%">Enter your Query here...</textarea></td>
					<td><button type="button" id="query_button">Run</button></td>
				</tr>
			</table>
		</div>
		<div class="ui-layout-center ui-layout-pane ui-layout-pane-center" style="margin: 0px;  z-index: 0; display: block; visibility: visible;">
			<p id="query_result">Some Kachra</p>
		</div>
	</div>
	<script type="text/javascript" src="./scripts/bootstrap.min.js"></script>
</body>	
</html>
